.navbar{
    background-color: rgb(147, 140, 233);
    width: 100%;
    height: 50px;
    display: flex;
    z-index: 999;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
h1{
    /* text-align: center; */
    padding-top: 10px;
    margin-left: 460px;
}
a{
    margin-left: 40px;
    margin-right: 40px;
    /* margin-top: 10px; */
    
}
